.modal {
    align: center middle;
}

Input {
    height: 3;
}

#dialog {
    
    grid-rows: 4;
    width: 55;
    height: 20;
    border: thick $background 80%;
    background: $surface;
}

#question {
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

#button-grid {
    align: center middle;
    grid-size: 2 1;

}